* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    height: 15vh;
    background-color: rgb(6, 93, 93);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(18, 18, 18);
    color: white;
    min-height: 75vh;
}

footer {
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}